<!DOCTYPE html>
<html lang="en-US">
<head>
<base href="https://github.com/darren-he/excardo.statictest.io.git/" />

	<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	

	<script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<script>var et_site_url='';var et_post_id='global';function et_core_page_resource_fallback(a,b){"undefined"===typeof b&&(b=a.sheet.cssRules&&0===a.sheet.cssRules.length);b&&(a.onerror=null,a.onload=null,a.href?a.href=et_site_url+"/?et_core_page_resource="+a.id+et_post_id:a.src&&(a.src=et_site_url+"/?et_core_page_resource="+a.id+et_post_id))}
</script><title>404 Not Found | Excardo</title>
<link rel='dns-prefetch' href='//fonts.googleapis.com' />



<meta content="Divi v.3.10.2" name="generator"/><link rel='stylesheet' id='bodhi-svgs-attachment-css'  href='contents/lib/svg-support/css/svgs-attachment.css' type='text/css' media='all' />
<link rel='stylesheet' id='divi-fonts-css'  href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='divi-style-css'  href='contents/ui/theme/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='inc/css/dashicons.min.css' type='text/css' media='all' />
<script type='text/javascript' src='inc/js/jquery/jquery.js'></script>
<script type='text/javascript' src='inc/js/jquery/jquery-migrate.min.js'></script>



<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><link rel="shortcut icon" href="https://www.excardo.io/contents/data/2017/06/favicon-1.gif" /><style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ffffff; }
</style>
<link rel="icon" href="contents/data/2017/06/favicon-150x150.gif" sizes="32x32" />
<link rel="icon" href="contents/data/2017/06/favicon.gif" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="contents/data/2017/06/favicon.gif" />
<meta name="msapplication-TileImage" content="contents/data/2017/06/favicon.gif" />
<link rel="stylesheet" id="et-divi-customizer-global-cached-inline-styles" href="contents/cache/et/global/et-divi-customizer-global-15329600638266.min.css" onerror="et_core_page_resource_fallback(this, true)" onload="et_core_page_resource_fallback(this)" /></head>
<body class="error404 custom-background et_divi_builder et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_pb_gutter et_pb_gutters2 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_right_sidebar et_divi_theme et-db et_minified_js et_minified_css">
	<div id="page-container">

	
	
			<header id="main-header" data-height-onload="66">
			<div class="container clearfix et_menu_container">
							<div class="logo_container">
					<span class="logo_helper"></span>
					<a href="">
						<img src="contents/data/2018/07/excardologoredonwhite-1.png" alt="Excardo" id="logo" data-height-percentage="37" />
					</a>
				</div>
							<div id="et-top-navigation" data-height="66" data-fixed-height="40">
											<nav id="top-menu-nav">
						<ul id="top-menu" class="nav et_disable_top_tier"><li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229"><a href="solutions/">Solutions</a></li>
<li id="menu-item-232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-232"><a href="industries/">Industries</a></li>
<li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214"><a href="contact-us/">Contact Us</a></li>
</ul>						</nav>
					
					
					
					
					<div id="et_mobile_nav_menu">
				<div class="mobile_nav closed">
					<span class="select_page">Select Page</span>
					<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
				</div>
			</div>				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="">
					<input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header> <!-- #main-header -->
			<div id="et-main-area">
	
<div id="main-content">
	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">
				<article id="post-0" class="et_pb_post not_found">
					<div class="entry">
<!--If no results are found-->
	<h1>No Results Found</h1>
	<p>The page you requested could not be found. Try refining your search, or use the navigation above to locate the post.</p>
</div>
<!--End if no results are found-->				</article> <!-- .et_pb_post -->
			</div> <!-- #left-area -->

					</div> <!-- #content-area -->
	</div> <!-- .container -->
</div> <!-- #main-content -->


			<footer id="main-footer">
				

		
				<div id="footer-bottom">
					<div class="container clearfix">
				<ul class="et-social-icons">


</ul><div id="footer-info">Copyright © 2018 Excardo, Inc.</div>					</div>	<!-- .container -->
				</div>
			</footer> <!-- #main-footer -->
		</div> <!-- #et-main-area -->


	</div> <!-- #page-container -->

		<script type="text/javascript">
		var et_animation_data = [];
	</script>
	<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".blurb_click").click(function() {
		window.location = $(this).find("a").attr("href"); 
		return false;
	});
});
</script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".blurb_click2").click(function() {
		window.location = $(this).find("a").attr("href"); 
		return false;
	});
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59488241-4', 'auto');
  ga('send', 'pageview');

</script><script type='text/javascript'>
/* <![CDATA[ */
var DIVI = {"item_count":"%d Item","items_count":"%d Items"};
var et_shortcodes_strings = {"previous":"Previous","next":"Next"};
var et_pb_custom = {"ajaxurl":"https:\/\/\/wp-admin\/admin-ajax.php","images_uri":"https:\/\/\/contents\/ui\/theme\/images","builder_images_uri":"https:\/\/\/contents\/ui\/theme\/includes\/builder\/images","et_frontend_nonce":"ed5b625a00","subscription_failed":"Please, check the fields below to make sure you entered the correct information.","et_ab_log_nonce":"1749e78d89","fill_message":"Please, fill in the following fields:","contact_error_message":"Please, fix the following errors:","invalid":"Invalid email","captcha":"Captcha","prev":"Prev","previous":"Previous","next":"Next","wrong_captcha":"You entered the wrong number in captcha.","is_builder_plugin_used":"","ignore_waypoints":"no","is_divi_theme_used":"1","widget_search_selector":".widget_search","is_ab_testing_active":"","page_id":"","unique_test_id":"","ab_bounce_rate":"","is_cache_plugin_active":"yes","is_shortcode_tracking":""};
var et_pb_box_shadow_elements = [];
/* ]]> */
</script>
<script type='text/javascript' src='contents/ui/theme/js/custom.min.js'></script>
<script type='text/javascript' src='contents/lib/divi-builder/core/admin/js/common.js'></script>
</body>
</html>
